.interna-produtos{
  background: url("../img/bg-produtos.jpg") no-repeat center;
  background-size: cover;
}

.produto-item{
  padding-top: 60px;
}

.produto-item h2{
  color: #fff;
  font-size: 2.25rem;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight: bold;
  position: relative;
  top: -180px;
  text-align: center;
  margin-bottom: -56px ;
}

.produto-item h2::after, .produto-item h2::before{
  content: "";
	display: block;
	width: 60px;
	height: 3px;
	background: #FFF;
	margin: 8px auto 8px auto;
}

.produto-icone{
  background: #000;
  padding: 70px 0;
}
.produto-icone img{
  margin: 0 auto;
}

.produto-info{
  background: #000;
}

.produto-info p{
  color: #fff;
  height: 182px;
  font-size: 1.125rem;
  line-height: 1.5625rem;
  padding: 30px 40px;
}

.produto-info ul li{
  background: #fec63e;
  text-transform: uppercase;
  font-size: 1.125rem;
  line-height: 1.25rem;
  font-weight: bold;
  text-align: center;
  float: left;
  width: 229px;
  height: 48px;
  padding-top: 16px;
}

.produto-info ul li:nth-child(1), .produto-info ul li:nth-child(2){
  margin-bottom: 2px;
}

.produto-info ul li:nth-child(even){
  margin-left: 2px;
}

/* Orçamento */
.orcamento{
  background: #000;
  width: 100%;
  margin-top: 60px;
  padding: 40px 0;
}

.orcamento h2{
  color: #fec63e;
}

.orcamento h2::after{
  background: #fec63e;
}

.form{
  padding-right: 60px;
}

.form label{
  display: block;
  color: #fff;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.125rem;
  line-height: 1.5625rem;
  margin-bottom: 4px;
}

.form input, .form textarea{
  display: block;
  width: 100%;
  border: 4px solid #fec63e;
  background: none;
  padding: 7px 10px;
  margin-bottom: 30px;
  outline: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 0.875rem;
  color: #fff;
}

.form button {
  background: none;
  padding: 7px 40px;
}

.orcamento-dados{
  color: #fff;
}

.orcamento-dados h3{
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1.5625rem;
  text-transform: uppercase;
  color: #fec63e;
}

.orcamento-dados span{
  display: block;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.125rem;
  line-height: 1.875rem;
}

.dados-email{
  margin-bottom: 40px;
}

.orcamento-dados ul{
  padding-right: 60px;
}

.orcamento-dados ul li{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 0.875rem;
  padding: 10px 15px;
}

.orcamento-dados ul li:nth-child(odd){
  background-color: #1d1d1d;
}

.orcamento-dados p{
  margin: 10px 0;
}