/* Estilo para tablets */
@media only screen and (min-width: 788px) and (max-width: 979px) {
}

/* Estilo para smartphones */
@media only screen and (max-width: 787px) {

  /* Header */
  .header{
    position: relative;
    padding-bottom: 0px;
  }

  .header img{
    margin: 0 auto 10px auto;
  }

  .header_menu{
    text-align: center;
  }

  .header_menu ul li{
    margin: 5px;
  }

  .header_menu ul li a{
    border: 4px solid #000;
    width: 136px;
    display: block;
    float: left;
  }

  .header_menu ul li a:hover, .header_menu ul li a.menu-ativo{
    border: 4px solid #fff;
  }

  /* Introdução */
  .introducao{
    margin-top: 0px;
    padding-top: 20px;
    background: url("../img/bg-mobile.jpg") no-repeat center;
    background-size: cover;
  }

  .quote-externo{
    margin-bottom: 40px;
  } 
}